#container {
    border-radius: 3vw;
    position: relative;
    margin:8% auto auto auto;
    width: 55vw;
    padding: 7vw;
    display: table;
    background-color: white;
    text-align: center;
}



p {
    font-size: 50px;
}

#bt1 { 
    float: center;
    padding-top: 3vw;
    padding-right: 0vw;
    display: inline-block;
}

#bt2 { 
    float: center;
    padding-top: 3vw;
    padding-left: 1vw;
}

#bt3 { 
    float: center;
    padding-top: 3vw;
    padding-left: 1vw;
}

ul.nav {
    float: center;
    padding-top: 3vw;
    padding-left: 0vw;

  }
ul.nav > li {
    float: none;
    display: inline-block;
    padding: 1vw 3.5vw;
  }

ul.nav > li > a {
    color: white;
    text-decoration: none;
  }
